<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ipp.estgf.nnmusicdroid" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CountryListActivity"
            android:label="@string/title_activity_country_list"
            android:parentActivityName="android.app.ListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>

        <activity android:name=".AboutActivity" />
        <activity android:name=".ArtistActivity" />
        <activity android:name=".ArtistListActivity" />
        <activity
            android:name=".MyCountriesActivity"
            android:parentActivityName="android.app.ListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>

        <activity android:name=".MapActivity" />
        <activity android:name=".MusicActivity" />
        <activity android:name=".MusicListActivity" />
    </application>

</manifest>
