<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ipp.estgf.nnmusicdroid" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- - Network State -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- - Permission to write to external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Permission for ACCESS_FINE_LOCATION -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- - Permission to read GSF -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- Feature Requirement -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CountryListActivity"
            android:label="@string/title_activity_country_list"
            android:parentActivityName="android.app.ListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity android:name=".AboutActivity" />
        <activity android:name=".ArtistActivity" />
        <activity android:name=".ArtistListActivity" />
        <activity
            android:name=".MyCountriesActivity"
            android:parentActivityName="android.app.ListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity android:name=".MusicActivity" />
        <activity android:name=".MusicListActivity" />
        <activity android:name=".ArtistDetails" />
        <activity
            android:name=".MusicDetails"
            android:label="@string/title_activity_music_details" />

        <!-- Mapa e Chave Permissão -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAGweooG4WeLNuuPamryNjBQ58-0SJ2eyc" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name=".Top5MusicsArtists"
            android:label="@string/title_activity_top5_musics_artists" >
        </activity>

        <!-- Widget -->
        <receiver android:name=".widget.WidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>

        <service android:name=".widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="true" />

        <provider
            android:authorities="pt.ipp.estgf.nnmusicdroid.widget.provider"
            android:name=".widget.TopMusicDataProvider" />


        <activity
            android:name=".PreferencesActivity"
            android:label="@string/title_activity_preferences" >
        </activity>
    </application>

</manifest>
